<div lang="es" class="klaro">
    <div class="cookie-modal">
        <div class="cm-bg"></div>
        <div class="cm-modal cm-klaro">
            <div class="cm-header"><button title="Cerrar" class="hide" type="button"><svg role="img" aria-label="Cerrar"
                        width="12" height="12" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <title>Cerrar</title>
                        <line x1="1" y1="11" x2="11" y2="1" stroke-width="1"></line>
                        <line x1="1" y1="1" x2="11" y2="11" stroke-width="1"></line>
                    </svg></button>
                <h1 class="title"><span><span>Servicios que nos gustaría utilizar</span></span></h1>
                <p><span><span>Aquí puede evaluar y personalizar los servicios que nos gustaría utilizar en este sitio
                            web. ¡Usted decide! Habilite o deshabilite los servicios como considere
                            oportuno.</span><span> </span><span>Para saber más, por favor lea nuestra </span><a
                            href="/#privacy" target="_blank" rel="noopener">política de
                            privacidad</a><span>.</span></span></p>
            </div>
            <div class="cm-body">
                <ul class="cm-purposes">
                    <li class="cm-purpose"><input id="purpose-item-marketing" class="cm-list-input"
                            aria-describedby="purpose-item-marketing-description" type="checkbox"><label
                            for="purpose-item-marketing" class="cm-list-label"><span
                                class="cm-list-title">Marketing</span><span class="cm-switch">
                                <div class="slider round active"></div>
                            </span></label>
                        <div id="purpose-item-marketing-description">
                            <p class="cm-list-description"><span><span>Estos servicios procesan información personal
                                        para mostrarle contenido relevante sobre productos, servicios o temas que puedan
                                        interesarle.</span></span></p>
                        </div>
                        <div class="cm-services">
                            <div class="cm-caret"><a href="#"><span>↑</span> 3 servicios</a></div>
                            <ul class="cm-content expanded">
                                <li class="cm-service">
                                    <div><input id="service-item-twitter" class="cm-list-input"
                                            aria-describedby="service-item-twitter-description" type="checkbox"><label
                                            for="service-item-twitter" class="cm-list-label"><span
                                                class="cm-list-title">Twitter</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-twitter-description">
                                            <p class="purposes">Finalidad: Marketing</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="cm-service">
                                    <div><input id="service-item-youtube" class="cm-list-input"
                                            aria-describedby="service-item-youtube-description" type="checkbox"><label
                                            for="service-item-youtube" class="cm-list-label"><span
                                                class="cm-list-title">Youtube</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-youtube-description">
                                            <p class="purposes">Finalidad: Marketing</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="cm-service">
                                    <div><input id="service-item-Facebook Ads" class="cm-list-input"
                                            aria-describedby="service-item-Facebook Ads-description"
                                            type="checkbox"><label for="service-item-Facebook Ads"
                                            class="cm-list-label"><span class="cm-list-title">Facebook Ads</span><span
                                                class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-Facebook Ads-description">
                                            <p class="purposes">Finalidad: Marketing</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cm-purpose"><input id="purpose-item-analytics" class="cm-list-input"
                            aria-describedby="purpose-item-analytics-description" type="checkbox"><label
                            for="purpose-item-analytics" class="cm-list-label"><span
                                class="cm-list-title">Analytics</span><span class="cm-switch">
                                <div class="slider round active"></div>
                            </span></label>
                        <div id="purpose-item-analytics-description"></div>
                        <div class="cm-services">
                            <div class="cm-caret"><a href="#"><span>↑</span> 5 servicios</a></div>
                            <ul class="cm-content expanded">
                                <li class="cm-service">
                                    <div><input id="service-item-matomo" class="cm-list-input"
                                            aria-describedby="service-item-matomo-description" type="checkbox"><label
                                            for="service-item-matomo" class="cm-list-label"><span
                                                class="cm-list-title">Matomo/Piwik</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-matomo-description">
                                            <p class="purposes">Finalidad: Analytics</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="cm-service">
                                    <div><input id="service-item-inlineTracker" class="cm-list-input"
                                            aria-describedby="service-item-inlineTracker-description"
                                            type="checkbox"><label for="service-item-inlineTracker"
                                            class="cm-list-label"><span class="cm-list-title">Inline Tracker</span><span
                                                class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-inlineTracker-description">
                                            <p class="purposes">Finalidad: Analytics</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="cm-service">
                                    <div><input id="service-item-externalTracker" class="cm-list-input"
                                            aria-describedby="service-item-externalTracker-description"
                                            type="checkbox"><label for="service-item-externalTracker"
                                            class="cm-list-label"><span class="cm-list-title">External
                                                Tracker</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-externalTracker-description">
                                            <p class="purposes">Finalidades: Analytics, Security</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="cm-service">
                                    <div><input id="service-item-mouseflow" class="cm-list-input"
                                            aria-describedby="service-item-mouseflow-description" type="checkbox"><label
                                            for="service-item-mouseflow" class="cm-list-label"><span
                                                class="cm-list-title">Mouseflow</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-mouseflow-description">
                                            <p class="purposes">Finalidad: Analytics</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="cm-service">
                                    <div><input id="service-item-Google Analytics" class="cm-list-input"
                                            aria-describedby="service-item-Google Analytics-description"
                                            type="checkbox"><label for="service-item-Google Analytics"
                                            class="cm-list-label"><span class="cm-list-title">Google
                                                Analytics</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-Google Analytics-description">
                                            <p class="purposes">Finalidad: Analytics</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cm-purpose"><input id="purpose-item-security" class="cm-list-input"
                            aria-describedby="purpose-item-security-description" type="checkbox"><label
                            for="purpose-item-security" class="cm-list-label"><span
                                class="cm-list-title">Security</span><span class="cm-switch">
                                <div class="slider round active"></div>
                            </span></label>
                        <div id="purpose-item-security-description"></div>
                        <div class="cm-services">
                            <div class="cm-caret"><a href="#"><span>↑</span> 3 servicios</a></div>
                            <ul class="cm-content expanded">
                                <li class="cm-service">
                                    <div><input id="service-item-externalTracker" class="cm-list-input"
                                            aria-describedby="service-item-externalTracker-description"
                                            type="checkbox"><label for="service-item-externalTracker"
                                            class="cm-list-label"><span class="cm-list-title">External
                                                Tracker</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-externalTracker-description">
                                            <p class="purposes">Finalidades: Analytics, Security</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="cm-service">
                                    <div><input id="service-item-camera" class="cm-list-input"
                                            aria-describedby="service-item-camera-description" type="checkbox"><label
                                            for="service-item-camera" class="cm-list-label"><span
                                                class="cm-list-title">Surveillance Camera</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-camera-description">
                                            <p class="purposes">Finalidad: Security</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="cm-service">
                                    <div><input id="service-item-cloudflare" class="cm-list-input required"
                                            aria-describedby="service-item-cloudflare-description" disabled=""
                                            type="checkbox"><label for="service-item-cloudflare" class="cm-list-label"
                                            tabindex="0"><span class="cm-list-title">Cloudflare</span><span
                                                class="cm-required" title="Este servicio es necesario siempre">(siempre
                                                requerido)</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-cloudflare-description">
                                            <p class="purposes">Finalidad: Security</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cm-purpose"><input id="purpose-item-livechat" class="cm-list-input"
                            aria-describedby="purpose-item-livechat-description" type="checkbox"><label
                            for="purpose-item-livechat" class="cm-list-label"><span
                                class="cm-list-title">Livechat</span><span class="cm-switch">
                                <div class="slider round active"></div>
                            </span></label>
                        <div id="purpose-item-livechat-description"></div>
                        <div class="cm-services">
                            <div class="cm-caret"><a href="#"><span>↑</span> 1 servicio</a></div>
                            <ul class="cm-content expanded">
                                <li class="cm-service">
                                    <div><input id="service-item-intercom" class="cm-list-input"
                                            aria-describedby="service-item-intercom-description" type="checkbox"><label
                                            for="service-item-intercom" class="cm-list-label"><span
                                                class="cm-list-title">Intercom</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-intercom-description">
                                            <p class="purposes">Finalidad: Livechat</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cm-purpose"><input id="purpose-item-advertising" class="cm-list-input"
                            aria-describedby="purpose-item-advertising-description" type="checkbox"><label
                            for="purpose-item-advertising" class="cm-list-label"><span
                                class="cm-list-title">Publicidad</span><span class="cm-switch">
                                <div class="slider round active"></div>
                            </span></label>
                        <div id="purpose-item-advertising-description">
                            <p class="cm-list-description"><span><span>Estos servicios procesan información personal
                                        para mostrarle anuncios personalizados o basados en intereses.</span></span></p>
                        </div>
                        <div class="cm-services">
                            <div class="cm-caret"><a href="#"><span>↑</span> 1 servicio</a></div>
                            <ul class="cm-content expanded">
                                <li class="cm-service">
                                    <div><input id="service-item-adsense" class="cm-list-input"
                                            aria-describedby="service-item-adsense-description" type="checkbox"><label
                                            for="service-item-adsense" class="cm-list-label"><span
                                                class="cm-list-title">Adsense</span><span class="cm-switch">
                                                <div class="slider round active"></div>
                                            </span></label>
                                        <div id="service-item-adsense-description">
                                            <p class="purposes">Finalidad: Publicidad</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="cm-purpose cm-toggle-all"><input id="purpose-item-disableAll" class="cm-list-input"
                            aria-describedby="purpose-item-disableAll-description" type="checkbox"><label
                            for="purpose-item-disableAll" class="cm-list-label"><span class="cm-list-title">Activar o
                                desactivar todos los servicios</span><span class="cm-switch">
                                <div class="slider round active"></div>
                            </span></label>
                        <div id="purpose-item-disableAll-description">
                            <p class="cm-list-description"><span><span>Utilice este interruptor para activar o
                                        desactivar todos los servicios.</span></span></p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="cm-footer">
                <div class="cm-footer-buttons"><button class="cm-btn cm-btn-decline cm-btn-danger cn-decline"
                        type="button">Descartar todas</button><button
                        class="cm-btn cm-btn-success cm-btn-info cm-btn-accept" type="button">Aceptar
                        seleccionadas</button><button class="cm-btn cm-btn-success cm-btn-accept-all"
                        type="button">Aceptar todas</button></div>
                <p class="cm-powered-by"><a target="_blank" href="https://kiprotect.com/klaro" rel="noopener">¡Realizado
                        con Klaro!</a></p>
            </div>
        </div>
    </div>
</div>